@font-face {
    font-family: "Rubik";
    src: url(../../fonts/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter/static/Inter_18pt-Regular.ttf);
}
