{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block hero %}

<script src="https://cdn.jsdelivr.net/npm/three@0.152.0/build/three.min.js"></script>
<div
    class="three-bg"
    data-controller="pluie">
</div>


{% endblock %}
