{% extends 'base.html.twig' %}

{% block title %}Hello AddparapluieController!{% endblock %}

{% block body %}
<section class="add-parapluie">
    {{ form_start(ParaForm, {
        attr: {
            class: 'parapluie-form',
            enctype: 'multipart/form-data'
        }
    }) }}
        {{ form_widget(ParaForm) }}
        <button class="btn-primary">Ajouter</button>
    {{ form_end(ParaForm) }}
</section>
{% endblock %}
