@use "../abstracts/variables" as variable;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: white;
  overflow: hidden;
}

header {
  background: black;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  font-family: variable.$primary-ff-regular;
  a {
    color: white;
    font-size: 1.5em;
  }

  img {
    width: 250px;
  }

  ul {
    display: flex;

    li {
      margin: 0 30px;
    }
  }
}
