// Abstracts
@use "abstracts/font-face";

// Base
@use "base/reset";
@use "base/utilities";

// Pages
@use "pages/home";
@use "pages/addparapluie";
@use "pages/gallery";
@use "pages/login";
@use "pages/register";

// Layout
@use "layout/header";
@use "layout/footer";
@use "layout/responsive";

