{% extends 'base.html.twig' %}

{% block body %}
<style>|
</style>

<div class="body">
   {% for parapluie in parapluie %} 
            <div class="card">
                    <img src="{{ asset('user/img/parapluie/' ~ parapluie.ImageName) }}">
                <div class="card-content">
                    <h3>{{parapluie.name}}</h3>
                    <p>{{parapluie.description}}</p>
                </div>
            </div>  
    {% endfor %}


{% endblock %}
