{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!{% endblock %}

{% block body %}
<style>|
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Vince/Desktop/symfony/Parapluie/src/Controller/GalerieController.php</code></li>
        <li>Your template at <code>C:/Users/Vince/Desktop/symfony/Parapluie/templates/galerie/index.html.twig</code></li>
    </ul>
</div>


{% endblock %}
